<div class="container text-center" style="margin-top: 20px;">
    <h5>MI PORTFOLIO</h5>
    <div class="d-flex justify-content-center">
        <div class="social">
            <ul class="color-black">
                <a href="#" style="color: black"><i class="fa-brands fa-linkedin fa-3x"></i></a>
                <a href="#" style="color: black"><i class="fa-brands fa-twitter-square fa-3x"></i></a>
                <a href="#" style="color: black"><i class="fa-brands fa-github-square fa-3x"></i></a>
            </ul>
        </div>
    </div>
</div>
