<section class="min-vh-100 d-flex head">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto text-center text-white">
                <h1 class="mb-5">
                    BIENVENIDO
                </h1>
                <h6>Mi nombre es Luciano y en este portfolio, lo invito a conocer mis habilidades y informacion sobre mi.</h6>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      SABER MAS
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#acerca-de">Acerca de mi</a></li>
                      <li><a class="dropdown-item" href="#experiencia">Experiencia</a></li>
                      <li><a class="dropdown-item" href="#educacion">Educacion</a></li>
                      <li><a class="dropdown-item" href="#skills">Habilidades</a></li>
                      <li><a class="dropdown-item" href="#proyectos">Proyectos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
