/* ----------FONDO DEL INICIO----------- */
.inicio { 
    width: 100%;
    min-height: 60vh;
    background-image: url(../../../assets/imagenes/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------TITULO DEL INICIO----------- */
.titulo-inicio{
    color: white;
}