<div class="acerca-de">
  <h2 class="titulo-acerca">ACERCA DE</h2>
  <div class="boton">
    <button *ngIf="modoEdit" type="button" class="btn" routerLink="/Add-acercade">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <li *ngFor="let dato of perfil" >
    <div class="row contenido">
      <div class="col-4">
        <img class="img-fluid" [src]="dato.urlFoto" alt="Luciano Paulucci" />
      </div>
      <div class="col-7 acerca-texto">
        <h4>
          Soy {{dato.nombreCompleto}}
        </h4>
        <p>
          {{dato.informacion}}
        </p>
        <div *ngIf="modoEdit" class="btn-group botones" role="group">
          <button type="button" class="btn" routerLink="/Editar-acercade/{{dato.id}}">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button type="button" class="btn">
            <i class="fa-solid fa-trash" (click)="delete(dato.id)"></i>
          </button>
        </div>
      </div>
    </div>
  </li>
</div>