<section id="acerca-de" class="section gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titulo">
          <h3 class="dark-color text-center">Acerca de mi</h3>
        </div>
        <div class="agregar-eliminar">
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/Add-acercade"
          >
            <i class="fa-solid fa-plus"></i>
          </button>
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/Editar-acercade"
          >
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="box-shadow">
          <img
            class="img-fluid rounded"
            src="../../../assets/imagenes/foto-perfil.jpg"
            alt="lucho"
          />
        </div>
      </div>
      <div class="col-xl-6 info-personal">
        <div class="acerca-de-mi">
          <h4>Soy {{perfil.nombre}}</h4>
          <p>
            {{perfil.informacion}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
