<section class="d-flex justify-content-center align-items-center contenido">
  <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4 p-4">
    <div class="mb-4 d-flex justify-content-start align-items-center">
      <h4><i class="bi bi-chat-left-quote"></i>Estudio</h4>
    </div>
    <div class="mb-1">
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div>
          <label for="email">Titulo </label>
          <input type="titulo" formControlName="titulo" />
        </div>
        <div *ngIf="Titulo?.errors && Titulo?.touched">
          <p *ngIf="Titulo?.hasError('required')" class="error">
            El titulo es requerido.
          </p>
        </div>
        <br />
        <div>
          <label for="exampleInputPassword1" class="form-label"
            >Institucion
          </label>
          <input
            type="institucion"
            formControlName="institucion"
          />
        </div>
        <div *ngIf="Institucion?.errors && Institucion?.touched">
          <p *ngIf="Institucion?.hasError('required')" class="error">
            La institucion es requerida.
          </p>
        </div>
        <div>
          <label for="email">Desde </label>
          <input type="date" formControlName="desde" />
        </div>
        <div *ngIf="Desde?.errors && Desde?.touched">
          <p *ngIf="Desde?.hasError('required')" class="error">
            La fecha es requerida.
          </p>
        </div>
        <div>
          <label for="email">Hasta </label>
          <input type="date" formControlName="hasta" />
        </div>
        <div *ngIf="Hasta?.errors && Hasta?.touched">
          <p *ngIf="Hasta?.hasError('required')" class="error">
            La fecha es requerida.
          </p>
        </div>
        <br />
        <div>
          <button type="submit button" class="btn btn-primary">Guardar</button>
        </div>
        <a routerLink="/">volver</a>
      </form>
    </div>
  </div>
</section>
