<section id="educacion" class="section gray-bg">
  <div class="col-12">
    <h2 class="h3 titulo text-center">Educacion</h2>
    <div *ngIf="modoEdit" class="agregar-eliminar">
      <button type="button" class="btn btn-primary" routerLink="/Add-estudio">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <li *ngFor="let educacion of educaciones" class="lista">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h5>{{ educacion.titulo }}</h5>
          <p>Institucion: {{educacion.institucion}}</p>
          <p>Inicio: {{ educacion.desde }}</p>
          <p>Fin: {{ educacion.hasta }}</p>
          <div *ngIf="modoEdit" class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" routerLink="/Editar-estudio/{{educacion.id}}">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button type="button" class="btn btn-primary">
              <i class="fa-solid fa-trash" (click)="delete(educacion.id)"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </div>
</section>
