<section id="educacion" class="section gray-bg">
  <div class="col-12 text-center">
    <h2 class="h3 titulo text-center">Education</h2>
    <div class="agregar-eliminar">
      <a href=""><i class="fa-solid fa-trash"></i></a>
      <a href=""><i class="fa-solid fa-plus"></i></a>
    </div>
    <p class="h6 mb-0">Primario y secundario</p>
    <p class="text-muted">Santa Maria Goretti, 2007 - 2020</p>
    <p class="h6 mb-0">Universitario(proceso)</p>
    <p class="text-muted">
      Universidad Tecnologica Nacional Regional Mendoza, 2021 - 2022
    </p>
  </div>
</section>
