<section id="proyectos" class="section gray-bg">
  <div class="row">
    <h2 class="h3 text-center titulo">Proyectos</h2>
    <div *ngIf="modoEdit" class="agregar-eliminar">
      <button type="button" class="btn btn-primary" routerLink="/Add-proyecto">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <li *ngFor="let proyecto of proyectos" class="lista">
      <div class="card" aria-hidden="true">
        <div class="card-body">
          <h5>{{ proyecto.titulo }}</h5>
          <p>Informacion: {{ proyecto.informacion }}</p>
          <div class="box-shadow">
            <img
              class="img-fluid rounded"
              [src]="proyecto.urlFotoProyecto"
              alt="lucho"
            />
          </div>
          <p>Url: <a href="">{{proyecto.urlProyecto}}</a></p>
          <div *ngIf="modoEdit" class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" routerLink="/Editar-proyecto/{{proyecto.id}}">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button type="button" class="btn btn-primary">
              <i class="fa-solid fa-trash" (click)="delete(proyecto.id)" ></i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </div>
</section>
