<section id="proyectos" class="section gray-bg">
  <h2 class="h3 text-center titulo">Proyectos</h2>
  <div>
    <div class="card">
      <img src="../../../assets/imagenes/portfolio.png" class="card-img-top" alt="portfolio">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary">
        <i class="fa-solid fa-pen"></i>
      </button>
      <button type="button" class="btn btn-primary">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
  
</section>
