.header { 
    width: 100%;
    min-height: 100vh;
    background-image: url(/Imagenes/Fondo-Header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.gray-bg{
    background-color: #eaedf2;
}

.section {
    padding: 100px;
}

.sectionn{
    background-color: grey;
    padding: 50px;
}

.gray-nvr{
    background-color: grey;
}