<section class="d-flex justify-content-center align-items-center contenido">
  <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4 p-4">
    <div class="mb-4 d-flex justify-content-start align-items-center">
      <h4><i class="bi bi-chat-left-quote"></i>Editar el proyecto</h4>
    </div>
    <div class="mb-1">
      <!-------------------------------FORMULARIO PARA AGREGAR UN PROYECTO--------------------------------->
      <form [formGroup]="form" (ngSubmit)="onUpdate()">
        <!-------------------------------INPUT PARA EL TITULO--------------------------------->
        <div class="mb-4">
          <label for="titulo"> Titulo </label>
          <input type="text" class="form-control" formControlName="titulo" id="titulo" name="titulo" [(ngModel)]="proyecto.titulo" required/>
        </div>
        <div *ngIf="Titulo?.errors && Titulo?.touched">
          <p *ngIf="Titulo?.hasError('required')" class="error">
            <strong>El titulo es requerido.</strong>
          </p>
        </div>
        <!-------------------------------INPUT PARA LA INFORMACION--------------------------------->
        <div class="mb-4">
          <label for="informacion" class="form-label"> Informacion </label>
          <input type="text" class="form-control" formControlName="informacion" id="infomacion" name="informacion" [(ngModel)]="proyecto.informacion" required/>
        </div>
        <div *ngIf="Informacion?.errors && Informacion?.touched">
          <p *ngIf="Informacion?.hasError('required')" class="error">
            <strong>La informacion es requerida.</strong>
          </p>
        </div>
        <!-------------------------------INPUT PARA LA URL DE LA FOTO DEL PROYECTO--------------------------------->
        <div class="mb-4">
          <label for="urlFotoProyecto"> Desde </label>
          <input type="text" class="form-control" formControlName="urlFotoProyecto" id="urlFotoProyecto" name="urlFotoProyecto" [(ngModel)]="proyecto.urlFotoProyecto" required />
        </div>
        <div *ngIf="UrlFotoProyecto?.errors && UrlFotoProyecto?.touched">
          <p *ngIf="UrlFotoProyecto?.hasError('required')" class="error">
            <strong>La fecha es requerida.</strong>
          </p>
        </div>
        <!-------------------------------INPUT PARA LA URL DEL PROYECTO--------------------------------->
        <div class="mb-4">
          <label for="urlProyecto"> URL del proyecto </label>
          <input type="text" class="form-control" formControlName="urlProyecto" id="urlProyecto" name="urlProyecto" [(ngModel)]="proyecto.urlProyecto" required/>
        </div>
        <div *ngIf="UrlProyecto?.errors && UrlProyecto?.touched">
          <p *ngIf="UrlProyecto?.hasError('required')" class="error">
            <strong>La fecha es requerida.</strong>
          </p>
        </div>
        <!-------------------------------BOTON PARA ENVIAR--------------------------------->
        <div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <a routerLink="/">volver</a>
      </form>
    </div>
  </div>
</section>
