<section class="d-flex justify-content-center align-items-center contenido">
  <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4 p-4">
    <div class="mb-4 d-flex justify-content-start align-items-center">
      <h4><i class="bi bi-chat-left-quote"></i>Editar el estudio</h4>
    </div>
    <div class="mb-1">
      <!-------------------------------FORMULARIO PARA AGREGAR UN ESTUDIO--------------------------------->
      <form [formGroup]="form" (ngSubmit)="onUpdate()">
        <!-------------------------------INPUT PARA EL TITULO--------------------------------->
        <div class="mb-4">
          <label for="titulo">Titulo </label>
          <input type="text" class="form-control" formControlName="titulo" id="titulo" name="titulo" [(ngModel)]="estudio.titulo" required/>
        </div>
        <div *ngIf="Titulo?.errors && Titulo?.touched">
          <p *ngIf="Titulo?.hasError('required')" class="error">
            <strong>El titulo es requerido. </strong>
          </p>
        </div>
        <!-------------------------------INPUT PARA LA INSTITUCION CORRESPONDIENTE--------------------------------->
        <div class="mb-4">
          <label for="institucion" class="form-label">Institucion</label>
          <input type="text" class="form-control" formControlName="institucion" id="institucion" name="institucion" [(ngModel)]="estudio.institucion" required/>
        </div>
        <div *ngIf="Institucion?.errors && Institucion?.touched">
          <p *ngIf="Institucion?.hasError('required')" class="error">
            <strong>La institucion es requerida.</strong>
          </p>
        </div>
        <!-------------------------------INPUT PARA LA FECHA DESDE--------------------------------->
        <div class="mb-4">
          <label for="desde">Desde </label>
          <input type="date" class="form-control" formControlName="desde" id="titulo" name="titulo" [(ngModel)]="estudio.desde" required/>
        </div>
        <div *ngIf="Desde?.errors && Desde?.touched">
          <p *ngIf="Desde?.hasError('required')" class="error">
            <strong>La fecha es requerida.</strong>
          </p>
        </div>
        <!-------------------------------INPUT PARA LA FECHA HASTA--------------------------------->
        <div>
          <label for="hasta">Hasta </label>
          <input type="date" class="form-control" formControlName="hasta" id="titulo" name="titulo" [(ngModel)]="estudio.hasta" required/>
        </div>
        <div *ngIf="Hasta?.errors && Hasta?.touched">
          <p *ngIf="Hasta?.hasError('required')" class="error">
            <strong>La fecha es requerida.</strong>
          </p>
        </div>
        <!-------------------------------BOTON DE ENVIAR--------------------------------->
        <div>
          <button type="submit button" class="btn btn-primary">Guardar</button>
        </div>
        <a routerLink="/">volver</a>
      </form>
    </div>
  </div>
</section>