<section id="experiencia" class="section">
    <div class="row">
        <h2 class="text-center titulo">Experiencias</h2>
        <div class="agregar-eliminar">
            <a href=""><i class="fa-solid fa-trash"></i></a>
            <a href=""><i class="fa-solid fa-plus"></i></a>
        </div>
        <div class="col-6 text-center">
            <p class="h5">2022</p>
            <p class="small text-muted">Desarollo web</p>
            <p>Constuccion de mi portfolio</p>
        </div>
        <div class="col-6 text-center">
            <p class="h5">2022</p>
            <p class="small text-muted">Desarollo web</p>
            <p>Constuccion de mi portfolio</p>
        </div>
    </div>
</section>