<section id="experiencia" class="section">
  <div class="row">
    <h2 class="text-center titulo">Experiencias</h2>
    <div class="agregar-eliminar">
      <button type="button" class="btn btn-primary"><i class="fa-solid fa-trash"></i></button>
          <button type="button" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="col-6 text-center">
      <p class="h5">2022</p>
      <p class="small text-muted">Desarollo web</p>
      <p>Constuccion de mi portfolio</p>
    </div>
    <div class="col-6 text-center">
      <p class="h5">2022</p>
      <p class="small text-muted">Desarollo web</p>
      <p>Constuccion de mi portfolio</p>
    </div>
  </div>
</section>
