<section class="d-flex justify-content-center align-items-center contenido">
  <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-4 p-4">
    <div class="mb-4 d-flex justify-content-start align-items-center">
      <h4><i class="bi bi-chat-left-quote"></i>Agrear una habilidad</h4>
    </div>
    <div class="mb-1">
      <!-------------------------------FORMULARIO PARA AGREGAR UNA HABILIDAD--------------------------------->
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <!-------------------------------INPUT PARA EL TITULO--------------------------------->
        <div class="mb-4">
          <label for="titulo"> <i class="bi bi-envelope-fill"></i> Nombre de la tecnologia </label>
          <input type="text" class="form-control" formControlName="titulo" />
        </div>
        <div *ngIf="Titulo?.errors && Titulo?.touched">
          <p *ngIf="Titulo?.hasError('required')" class="error">
            <strong>El titulo es requerido.</strong>
          </p>
        </div>
        <!-------------------------------INPUT DE LA FOTO DE LA HABILIDAD/TECNOLOGIA--------------------------------->
        <div class="mb-4">
          <label for="urlFotoHabilidad"> <i class="bi bi-envelope-fill"></i> URL foto de la habilidad </label>
          <input type="text" class="form-control" formControlName="urlFotoHabilidad" />
        </div>
        <div *ngIf="UrlFotoHabilidad?.errors && UrlFotoHabilidad?.touched">
          <p *ngIf="UrlFotoHabilidad?.hasError('required')" class="error">
            <strong>El URL es requerida.</strong>
          </p>
        </div>
        <!-------------------------------BOTON PARA ENVIAR--------------------------------->
        <div>
          <button type="submit" class="btn btn-primary">Crear</button>
        </div>
        <br>
        <div>
          <button type="button" class="btn btn-primary" (click)="limpiar()">Limpiar</button>
        </div>
        <a routerLink="/">volver</a>
      </form>
    </div>
  </div>
</section>
