<form class="login" (ngSubmit)="onEnviar($event)">
  <div>
    <h3 class="texto">INICIO DE SESION</h3>
    <div>
      <label for="email" class="texto">Email: </label>
      <br />
      <input type="email" formControlName="email" />
    </div>
    <div *ngIf="Mail?.errors && Mail?.touched">
      <p *ngIf="Mail?.hasError('required')" class="error">
        El email es requerido.
      </p>
      <p *ngIf="Mail?.hasError('email')" class="error">
        El formato del email debe ser válido.
      </p>
    </div>
    <br />
    <div>
      <label for="exampleInputPassword1" class="texto">Password: </label>
      <br />
      <input
        type="password"
        formControlName="password"
        [class.border-danger]="MailValid"
      />
    </div>
    <div *ngIf="Password?.errors && Password?.touched">
      <p *ngIf="Password?.hasError('required')" class="error">
        El password es requerido.
      </p>
      <p *ngIf="Password?.errors?.['minLength']" class="error texto">
        El password debe ser de 8 o más caracteres.
      </p>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    <br />
    <a routerLink="/" class="texto" type="submit">Volver</a>
  </div>
</form>
