<nav id="retorno" class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div id="logo-arg-programa" class="logo-arg-programa">
      <a href=""
        ><img
          src="../../../assets/imagenes/ap-logo.png"
          alt="ap-logo"
          class="logo-arg"
      /></a>
    </div>
    <div id="redes" class="social">
      <ul class="color-black">
        <a href="https://www.linkedin.com/in/luciano-paulucci-6a03a1241/" style="color: white"
          ><i class="fa-brands fa-linkedin fa-3x"></i
        ></a>
        <a href="https://www.instagram.com/palucho.dev/" style="color: white"
          ><i class="fa-brands fa-instagram fa-3x"></i
        ></a>
        <a href="https://github.com/Luchopaulucci" style="color: white"
          ><i class="fa-brands fa-github-square fa-3x"></i
        ></a>
      </ul>
    </div>
    <button routerLink="/Login" type="button" class="btn btn-secondary">
      LOGIN
    </button>
  </div>
</nav>
