.section{
    padding: 100px;
}
.gray-bg{
    background-color: #eaedf2;
}
.titulo{
    padding-bottom: 40px;
}
.social{
    letter-spacing:15px;
    padding-top: 15px;
}
.agregar-eliminar{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.lista{
    list-style: none;
}
.card{
    margin-top: 25px;
}