/* ----------CUERPO DE LA PAGINA----------- */
body{
    background-color: #292929;
}
/* ----------PARA QUE LOS ROW NO SE EXTIENDAN----------- */
.row{
    --bs-gutter-x: p;
}
/* ----------LISTAS PARA MOSTRAR LAS COSAS----------- */
li{
    list-style: none;
}
